build/
debug/
dist/
*.mk
*.bash
*.properties
nbproject/private/**

**/Debug/**
**/Release/**
.metadata/
.jxbrowser.userdata
dvt/
RemoteSystemsTempFiles/

**/.settings/**
**/.launches/**

**/fp-info-cache

